@import '../../../src/scss/config/variables';
@import '../../../src/scss/helpers/mixins';
/*--------------------------------------------------------------
## slider
--------------------------------------------------------------*/

.slider {
	display: flex;

	.slick-slide {
		outline: 0;
	}

	.slider__item {
		width: 100%;

		img {
			display: block;
			width: 100%;
		}
	}
}
