
.cf7-html-temp-msg {
	background: orange;
	padding: 5px 10px;
	font-weight: bold;
	width: 99%;
	box-sizing: border-box;
}

.cf7-html-wrap {
	box-sizing: border-box;

	* {
		box-sizing: border-box;
	}
}

.cf7-html-temp-preview-wrap {
	label {
		display: block;
		font-weight: bold;
		margin-bottom: 10px;
	}

	textarea {
		box-shadow: 0 0 0 transparent;
		border-radius: 4px;
		border: 1px solid #7e8993;
		background-color: #fff;
		color: #32373c;
		opacity: .7;
		width: 100%;
	}
}
