# ignore log files
*.log

# ignore compiled files
dist
.sass-cache
style.css
style.css.map
dashboard.css
dashboard.css.map
login.css
login.css.map
.fwsenqueue.yml
template-views/blocks/**/*.css
template-views/blocks/**/*.css.map
template-views/blocks/**/*.js
template-views/blocks/**/*.js.map

# ignore Editor files
.idea
.vscode
index.sublime-workspace
.sublime-gulp.cache

# ignore node_modules
node_modules
vendor
.env
