/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
// Fonts
$font-default-serif: Georgia, serif;
$font-default-sans-serif: Arial, Helvetica, sans-serif;

$font-main: $font-default-sans-serif;

// Colors
$white: #fff;
$black: #000;
$grey: #656565;
$grey-light: #d3d3d3;
$grey-dark: #333;
$gold: #c1a462;
$color-main: $grey-dark;

// Transitions
$dur: 350ms;
$ease: ease;
