/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
// Fonts
$font-main: Arial, sans-serif;

// Colors
$color-main: #404040;
$white: #fff;
$black: #000;
$grey: #656565;
$grey-light: #d3d3d3;
