/*--------------------------------------------------------------
## Icon Fonts
--------------------------------------------------------------*/
@font-face {
	font-family: "svgicons";
	src: url('css/icons/svgicons.eot');
	src: url('css/icons/svgicons.eot?#iefix') format('eot'),
		url('css/icons/svgicons.woff') format('woff'),
		url('css/icons/svgicons.ttf') format('truetype');
}

@mixin font-styles {
	font-family: "svgicons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%font {
	@include font-styles;
}

@function font-char($filename) {
	$char: "";

	@if $filename == ico-arrow-down {
		$char: "\E001";
	}
	@if $filename == ico-close {
		$char: "\E002";
	}
	@if $filename == ico-correct {
		$char: "\E003";
	}
	@if $filename == ico-favorite-heart {
		$char: "\E004";
	}
	@if $filename == ico-heart {
		$char: "\E005";
	}
	@if $filename == ico-minus {
		$char: "\E006";
	}
	@if $filename == ico-play {
		$char: "\E007";
	}
	@if $filename == ico-plus {
		$char: "\E008";
	}

	@return $char;
}

@mixin font($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %font;
		} @else {
			@include font-styles;
		}
		content: font-char($filename);
	}
}

.font-ico-arrow-down {
	@include font(ico-arrow-down);
}
.font-ico-close {
	@include font(ico-close);
}
.font-ico-correct {
	@include font(ico-correct);
}
.font-ico-favorite-heart {
	@include font(ico-favorite-heart);
}
.font-ico-heart {
	@include font(ico-heart);
}
.font-ico-minus {
	@include font(ico-minus);
}
.font-ico-play {
	@include font(ico-play);
}
.font-ico-plus {
	@include font(ico-plus);
}
