body {
	background-color: $white;
}

.container--login {
	max-width: 1450px;

	@include mq(1450px) {
		max-width: 1230px;
	}
}

.user-pass-wrap,
.user-user-wrap {
	
	label {
		display: none;
	}
}

.rem-forget {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 16px;
	margin-bottom: 59px;
	flex-wrap: wrap;

	@include mq($xl) {
		margin-bottom: 15px;
	}

	@include mq($sm) {
		margin-top: 8px;
		margin-bottom: 8px;
	}

	#nav {
		margin-top: 0;
		padding: 0;

		a {
			color: $orange;
			position: relative;
			font-weight: 700;
			margin-left: -4px;
			letter-spacing: 0.1px;
			text-decoration: none;
	
			&::after {
				position: absolute;
				content: '';
				width: 100%;
				height: 1px;
				left: 0;
				bottom: 2px;
				background-color: $orange;
				transition: $dur $ease;
			}
	
			@include hover {
		
				&::after {
					width: 0;
					transition: $dur $ease;
					background-color: $white;
				}
			}
		}

		@include mq($xl) {
			margin-bottom: 15px;
		}
	}
}

#backtoblog {
	display: none;
}

.login-sign-up {
	margin-top: 64px;

	span,
	a {
		font-family: $font-main-semibold;
		font-size: 18px;
		color: $black-smooth;
		font-weight: 400;
		line-height: 21.6px;
		letter-spacing: 0.5px;
	}

	a {
		color: $orange;
		position: relative;
		font-weight: 700;
		margin-left: -4px;
		letter-spacing: 0.1px;
		text-decoration: none;

		&::after {
			position: absolute;
			content: '';
			width: 100%;
			height: 1px;
			left: 0;
			bottom: 2px;
			background-color: $orange;
			transition: $dur $ease;
		}

		@include hover {
	
			&::after {
				width: 0;
				transition: $dur $ease;
				background-color: $white;
			}
		}
	}

	@include mq($lg) {
		margin-top: 34px;
	}

	@include mq($sm) {
		margin-top: 15px;
	}
}

.login-forgot-pass {
	color: $orange !important;//sass-lint:disable-line no-important
	font-size: 18px;
	font-family: $font-main-semibold;
	font-weight: 700;
	letter-spacing: 0.09px;
	line-height: 21.6px;
	position: relative;

	&::after {
		position: absolute;
		content: '';
		width: 100%;
		height: 1px;
		left: 0;
		bottom: 2px;
		background-color: $orange;
		transition: $dur $ease;
	}

	@include hover {

		&::after {
			width: 0;
			transition: $dur $ease;
			background-color: $white;
		}
	}
}

.user-pass-wrap {

	button {
		right: 20px !important;//sass-lint:disable-line no-important
    	top: 8px !important;//sass-lint:disable-line no-important
		outline: none !important;//sass-lint:disable-line no-important
		color: $grey-mild !important;//sass-lint:disable-line no-important

		&:focus {
			outline: none !important;//sass-lint:disable-line no-important
			border: none !important;//sass-lint:disable-line no-important
			box-shadow: none !important;//sass-lint:disable-line no-important

		}

		@include hover {

			span {
				color: $orange;
				transition: $dur $ease;
			}
		}
	}

	span {
		font-size: 23px !important;//sass-lint:disable-line no-important
		transition: $dur $ease;
	}
}

.forgetmenot {
	position: relative;
	cursor: pointer;
	padding-left: 47px;
	margin-right: 20px;

	&::after {
		content: '';
		position: absolute;
		display: none;
	}

	input {
		display: none;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	label {
		font-family: $font-main-semibold;
		color: $black-smooth;
		font-size: 17px;
		font-weight: 400;
		line-height: 21.6px;
		transform: translate(-1px, 3px);
		letter-spacing: 1.3px;
	}

	@include mq($xl) {
		margin-bottom: 15px !important;//sass-lint:disable-line no-important
	}
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 27px;
	width: 27px;
	background-color: $white;
	border: 2px solid $grey-soft;
	pointer-events: none !important;//sass-lint:disable-line no-important
	border-radius: 2px;

	&::after {
		content: '';
		position: absolute;
		/* display: none; */
		opacity: 0;
		background-color: $white;
		transition: $dur $ease;
	}
}

.forgetmenot .checkmark::after {
	left: 3px;
    top: 3px;
    width: 17px;
    height: 17px;
	background-color: $orange;
	opacity: 0;
	transition: $dur $ease;
  }

.forgetmenot input:checked ~ .checkmark {
	background-color: $white;
}

.forgetmenot input:checked ~ .checkmark::after {
	opacity: 1;
	transition: $dur $ease;
}

.login-title {
	font-family: $font-main-semibold;
	color: $black-smooth;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 0.5px;
	line-height: 38.4px;
	margin-bottom: 43px;
    display: block;

	@include mq($lg) {
		text-align: center;
		margin-bottom: 28px;
	}

	@include mq($sm) {
		margin-bottom: 15px;
		font-size: 30px;
	}
}

#loginform {
	border: none;
	padding: 0;
}

.login__content {
	position: relative;
	display: flex;

	.login__content-img-wrapp {
		position: absolute;
		right: -10.5%;
		top: -29.5%;

		@include mq(1780px) {
			right: 0;
			display: flex;
		}

		@include mq($xl) {
			top: -16.5%;
		}

		@include mq($lg) {
			position: relative;
			margin-top: 50px;
		}

		img {

			@include mq(1780px) {
				width: 80%;
				margin-left: auto;
			}

			@include mq($xl) {
				width: 65%;
			}

			@include mq($lg) {
				width: 60% !important;//sass-lint:disable-line no-important
				margin-left: auto;
				margin: 0 auto;
			}

			@include mq($md) {
				width: 80%;
			}
		}
	}

	@include mq($lg) {
		flex-direction: column;
	}
}

#login_error {
	width: 30.6%;

	@include mq($lg) {
		margin: 0 auto !important;//sass-lint:disable-line no-important
		width: 100%;
		max-width: 560px;
	}
}

.login-bottom-content {
	text-align: right;
	margin-top: 187px;
    padding-right: 100px;
	padding-bottom: 60px;

	span {
		font-size: 18px;
		font-family: $font-main-semibold;
		letter-spacing: 0.6px;
		line-height: 21.6px;
		font-weight: 400;
		color: $grey-thin;
	}

	a {
		color: $orange;
		position: relative;
		font-weight: 700;
		letter-spacing: 0.1px;
		text-decoration: none;
		margin-left: -1px;

		&::after {
			position: absolute;
			content: '';
			width: 100%;
			height: 1px;
			left: 0;
			bottom: 2px;
			background-color: $orange;
			transition: $dur $ease;
		}

		@include hover {
	
			&::after {
				width: 0;
				transition: $dur $ease;
				background-color: $white;
			}
		}
	}

	@include mq(1780px) {
		margin-top: 110px;
	}

	@include mq($lg) {
		margin-top: 50px;
		margin-bottom: 40px;
	}

	@include mq($md) {
		text-align: center;
		padding-right: 0;
	}

	@include mq($sm) {
		margin-bottom: 0;
		padding-bottom: 30px;
	}
}

.login__content-form-wrapp {
	width: 30.6%;
}

.login__content-form-wrapp,
#lostpasswordform {

	.submit {
		padding: 0 !important;//sass-lint:disable-line no-important
		margin: 0 !important;//sass-lint:disable-line no-important
		min-height: 80px !important;//sass-lint:disable-line no-important
		position: relative;

		.btn-icon-login {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 20px;

			svg {
				color: $white;
				font-size: 30px;
				transition: $dur $ease;
			}
		}

		@include hover {

			svg {
				color: $orange;
				transition: $dur $ease;
			}
		}

		@include mq($lg) {
			display: flex;
			max-width: 420px;
		}

		@include mq($sm) {
			min-height: 70px !important;//sass-lint:disable-line no-important
		}
	}

	input[type='submit'] {
		width: 100%;
		max-width: 434px;
		border-radius: 6px;
		background: $orange !important;//sass-lint:disable-line no-important
		min-height: 80px !important;//sass-lint:disable-line no-important
		text-align: left;
		border: 2px solid $orange;
		border-color: $orange !important;//sass-lint:disable-line no-important
		color: $white;
		font-size: 20px;
		font-weight: 600;
		font-family: $font-main-semibold;
		line-height: 21.6px;
		letter-spacing: 0.1px;
		outline: none;
		transition: $dur $ease;
		padding: 17px 28px 13px 27px !important;//sass-lint:disable-line no-important

		@include hover {
			outline: none;
			background-color: $white;
			background: $white !important;//sass-lint:disable-line no-important
			color: $orange;
			border: 2px solid $orange;
			transition: $dur $ease;
			border-color: $orange !important;//sass-lint:disable-line no-important
		}

		&:focus {
			box-shadow: none !important;//sass-lint:disable-line no-important
		}

		@include mq(782px) {
			font-size: 20px !important;//sass-lint:disable-line no-important
		}

		@include mq($sm) {
			padding: 7px 28px 7px 27px !important;//sass-lint:disable-line no-important
			min-height: 70px !important;//sass-lint:disable-line no-important
		}
	}

	#user_login,
	#user_pass {
		border: 1px solid $grey-soft !important;//sass-lint:disable-line no-important
		border-radius: 6px !important;//sass-lint:disable-line no-important
		min-height: 60px !important;//sass-lint:disable-line no-important
		width: 100% !important;//sass-lint:disable-line no-important
		background-color: $white;
		font-family: $font-main-semibold;
		color: $black-smooth !important;//sass-lint:disable-line no-important
		font-size: 18px;
		font-weight: 600;
		letter-spacing: 0.6px;
		line-height: 21.6px;
		padding: 20px 20px 15px 30px !important;//sass-lint:disable-line no-important

		&:focus {
			border: 2px solid $orange !important;//sass-lint:disable-line no-important
			outline: none !important;//sass-lint:disable-line no-important
			box-shadow: none;
		}
	}

	::-webkit-input-placeholder, //sass-lint:disable-line no-vendor-prefixes
	:-ms-input-placeholder, //sass-lint:disable-line no-vendor-prefixes
	::placeholder {
		color: $grey-mild;
		font-size: 18px;
		font-weight: 400;
		letter-spacing: 0.09px;
		line-height: 21.6px;
		opacity: 1;
	}

	@include mq($lg) {
		width: 100%;
		margin: 0 auto;
		max-width: 560px;
	}
}

#user_login {
	margin-bottom: 30px;

	@include mq($sm) {
		margin-bottom: 15px;
	}
}

.login__logo {
	height: 58px !important;//sass-lint:disable-line no-important
}

#login {
	width: 100%;
	padding: 0;
	margin: 0;

	h1 {
		text-align: initial;
		height: 186px;
		display: flex;
    	align-items: center;
		margin-bottom: 50px;

		@include mq(1780px) {
			height: 100px;
			margin-bottom: 70px;
		}

		@include mq($lg) {
			margin-bottom: 30px;
		}

		@include mq($sm) {
			margin-bottom: 15px;
		}

		a {
			background-image: url('../src/assets/images/logo.png');
			background-size: contain;
			/* background-position: center; */
			background-position: 6% 50%;
			background-repeat: no-repeat;
			width: 100%;
			height: auto;
			transition: $dur $ease;
			margin: 0;

			&:hover,
			&:focus,
			&:active {
				opacity: .8;
				outline: 0;
				box-shadow: none;
			}

			@include mq($md) {
				height: 55px;
				background-position: center;
			}

			@include mq($sm) {
				background-size: 90%;
			}
		}
	}

	form {
		margin: 0;
		padding: 0;
		background: none;
		border: 0;
		box-shadow: none;
	}
}

.new__pass-bottom-content {
	margin-top: 320px;

	@include mq(1780px) {
		margin-top: 300px;
	}
}

//lostpassword
#lostpasswordform {
	border: none !important;//sass-lint:disable-line no-important
	box-shadow: none !important;//sass-lint:disable-line no-important
	padding: 0 !important;//sass-lint:disable-line no-important

	input[type='submit'] {
		width: 100%;
		max-width: 434px;
		border-radius: 6px;
		background: $orange !important;//sass-lint:disable-line no-important
		min-height: 80px !important;//sass-lint:disable-line no-important
		text-align: left;
		border: 2px solid $orange;
		border-color: $orange !important;//sass-lint:disable-line no-important
		color: $white;
		font-size: 20px;
		font-weight: 600;
		font-family: $font-main-semibold;
		line-height: 21.6px;
		letter-spacing: 0.1px;
		outline: none;
		transition: $dur $ease;
		padding: 17px 28px 13px 27px !important;//sass-lint:disable-line no-important

		@include hover {
			outline: none;
			background-color: $white;
			background: $white !important;//sass-lint:disable-line no-important
			color: $orange;
			border: 2px solid $orange;
			transition: $dur $ease;
			border-color: $orange !important;//sass-lint:disable-line no-important
		}

		&:focus {
			box-shadow: none !important;//sass-lint:disable-line no-important
		}

		@include mq(782px) {
			font-size: 20px !important;//sass-lint:disable-line no-important
		}

		@include mq($sm) {
			padding: 7px 28px 7px 27px !important;//sass-lint:disable-line no-important
			min-height: 70px !important;//sass-lint:disable-line no-important
		}
	}
}

#nav {
	margin-top: 0;
	padding: 0;
	padding-left: 0 !important;//sass-lint:disable-line no-important

	a {
		color: $orange !important;//sass-lint:disable-line no-important
		position: relative;
		font-weight: 700;
		margin-left: -4px;
		letter-spacing: 0.1px;
		text-decoration: none;
		font-size: 18px;

		&::after {
			position: absolute;
			content: '';
			width: 100%;
			height: 1px;
			left: 0;
			bottom: 2px;
			background-color: $orange;
			transition: $dur $ease;
		}

		@include hover {
	
			&::after {
				width: 0;
				transition: $dur $ease;
				background-color: $white;
			}
		}
	}
}

.new__pass--message {
	width: 30.6%;
	border-left: 4px solid $orange !important;//sass-lint:disable-line no-important
}

.new__pass-nav {

	a {
		margin-left: 0 !important;//sass-lint:disable-line no-important
	}
}

.lost-pass__form-wrapp {
	width: 30.6%;

	@include mq($lg) {
		width: 100%;
		max-width: 315px;
	}
}

.lost-pass__wrapp {
	position: relative;
	display: flex;

	.login__content-img-wrapp {
		position: absolute;
		right: -10.5%;
		top: -29.5%;

		@include mq(1780px) {
			right: 0;
			display: flex;
		}

		@include mq($xl) {
			top: -16.5%;
		}

		@include mq($lg) {
			position: relative;
			margin-top: 50px;
		}

		img {

			@include mq(1780px) {
				width: 80%;
				margin-left: auto;
			}

			@include mq($xl) {
				width: 65%;
			}

			@include mq($lg) {
				width: 50%;
				margin-left: auto;
				margin: 0 auto;
			}

			@include mq($md) {
				width: 80%;
			}
		}
	}
}