/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.copyright {
    background-color: $grey-dark;
    padding: 25px 15px;
    text-align: center;

    p {
        color: $white;
        margin: 0;
    }
}
