/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/
a {
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		outline: 0;
	}
}

.main-navigation {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		ul {
			position: absolute;
			left: 0;
			top: 100%;
			border-top: 3px solid $gold;
			z-index: 99999;
			background-color: $grey-dark;
			transition: 0.3s ease-out;
			transform: translateY(5px);
			opacity: 0;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				border-bottom: 1px solid $grey-light;

				&:last-of-type {
					border-bottom: none;
				}

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			transform: translateY(0);
			opacity: 1;
		}
	}

	li {
		position: relative;
		float: left;
		transition: 0.3s ease-out;

		&:hover > a,
		&.focus > a {
			background-color: $gold;
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: $white;
		padding: 20px 15px;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}

	@include mq($phone) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		visibility: hidden;
		z-index: 100;
		transition: $dur $ease $dur;

		&::before {
			content: '';
			display: block;
			background-color: rgba($black, .4);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: $dur $ease;
		}

		&.open {
			visibility: visible;
			transition: none;

			&::before {
				opacity: 1;
				transition: $dur $ease 10ms;
			}

			> ul {
				transform: translateX(0);
				transition: $dur $ease 10ms;
			}
		}

		> ul {
			position: absolute;
			top: 0;
			right: 0;
			width: 230px;
			height: 100%;
			background-color: $grey;
			padding-top: 60px;
			overflow: auto;
			z-index: 100;
			transform: translateX(100%);
			transition: 0.4s ease;

			ul {
				position: static;
				transition: initial;
				transform: none;
				background-color: transparent;
				border: 0;
				padding: 5px 0 10px;
				opacity: 1;
				display: none;

				li {
					border: 0;
					font-size: .8em;
				}
			}
		}

		li {
			float: none;

			&:hover > a,
			&.focus > a {
				background-color: transparent;
			}
		}

		a {
			padding: 0 15px;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
